DATABASE_URL=postgresql://cloudsystem:cloudsystem123@localhost:5432/cloudsystem
REDIS_URL=redis://localhost:6379
S3_BUCKET=cloudsystem-dev-app-mohit-2026
AWS_REGION=us-east-1
SECRET_KEY=local-development-secret